/node_modules
terraform/complete-infra/.terraform
terraform/sqs-s3/.terraform
terraform/private-key/.terraform
terraform/private-key/KP-TESTE.pem

**/.terraform/*

*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
DEPLOYBUDDY-KP.pem